<footer>
<div id="footer">
    <ul class="footer-content">
        {% if SITESUBTITLE %}
        <li class="elegant-subtitle"><span class="site-name">{{ SITENAME }}</span> - {{ SITESUBTITLE }}</li>
        {% endif %}
        {% if SITE_LICENSE %}
        <li class="elegant-license">{{ SITE_LICENSE }}</li>
        {% endif %}
        <li class="elegant-power">
        	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257758625'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1257758625%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));
        	</script>
        	Powered by <a href="http://python.org/" title="Python Home Page">Python</a>. Theme: <a href="http://oncrashreboot.com/pelican-elegant" title="Theme Elegant Home Page">Elegant</a> by <a href="http://oncrashreboot.com" title="Talha Mansoor Home Page">Talha Mansoor</a></li>
    </ul>
</div>
</footer>
